<div class ="card mt-3 mb-3">
  <!-- actionをtypeの薬検索結果一覧に遷移させる -->
      <form class="form-inline mt-5 mb-5" method="GET" action="/account/searchresulttype/">
        <input class="btn btn-default ml-2" type="submit" id="keyword" name="keyword" value="<%= type %>">
      </form>
</div>
